.StoreCategorySubCategoryPageFormDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.StoreCategorySubCategoryPageForm {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 500px;
}

.buttonValid {
    color: rgb(121, 165, 121);
}

.buttonValid:hover {
    text-underline-position: below;
    color: green;
}

.buttonInvalid {
    color: rgb(250, 146, 146);
}

.buttonInvalid:hover {
    text-underline-position: below;
    color: red;
}

.buttonCancel {
    text-decoration: none;
    color: red;
}

.buttonCancel:hover {
    text-underline-position: below;
    color: red;
}